body{
    background-color: rgb(0, 0, 0);
}
#form{
    background-color: white;
    width: 50%;
    align-items: center;
    border-radius: 5px;
    display: flex;
    justify-items: center;
   
}
.name{
    padding: 5px;
    margin-top: 5px;
}
.age{
    padding: 5px;
    margin-top: 5px;
}
.box{
    
    font-weight: bold;
    color: black;
}


#btn{
    background-color: rgb(74, 13, 74);
    color: white;
    border: none;
    padding: 5px;
    margin: 5px;
}